@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200;
  }
  @font-face {
    font-family: "PlusJakartaSans";
    src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* font-size: 16px; */
  }
  @font-face {
    font-family: "PlusJakartaSans";
    src: url("/fonts/static/PlusJakartaSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "PlusJakartaSans";
    src: url("/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf")
      format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
}
